.banner{
    margin-top: 1em;
}

.copy{
    margin-bottom: .7em;
    
    &__title-first{
        margin: .5em 0 .3em;
        color: $color2;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.5em;

        span{
            font-weight: 300;
            text-transform: none;
        }
    }

    &__description{
        font-size: .85em;
        margin-bottom: .6em;
    }

    &__button{
        background: linear-gradient(
                    darken($color1, 10%),
                    darken($color1, 10%)
                    );
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        line-height: 2;
        padding: 0 1em;
        text-decoration: none;


        &:hover{
            color: $color2;
            text-decoration: none;
        }
    }
}

