.info{
    margin-bottom: 2em;

    &__title{
        font-weight: 400;
        border-bottom: 1px solid rgba($color3, .4);
        margin-bottom: 0;
    }

    &__nav{
        width: 20%;
        height: 2em;

        .info__item{
            width: 50%;
            height: 2em;
            opacity: .7;
            position: relative;

            &:before{
                content: "";
                display: block;
                width: 0;
                height: 0;

                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
            }

            &--prev{
                background: $color1;
                float: left;

                &:before{
                    border-right: 6px solid #fff;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    margin: auto;
                }
            }

            &--next{
                background: $color2;
                float: right;

                &:before{
                    border-left: 6px solid #fff;
                    border-top: 6px solid transparent;
                    border-bottom: 6px solid transparent;
                    margin: auto;
                }
            }
        }
    }
}

.client{
    margin-bottom: 1em;

    &__img{
        display: block;
        margin: auto;
    }

    &__title{
        margin: .5em 0 .3em;
        font-size: 1.1em;
    }

    &__description{
        font-size: .85em;
    }
}