.header{
    background-color: $color1;
    color: #fff;
}

.logo{
    margin: .5em 0 0;

    &__first{
        text-transform: uppercase;    
        font-family: 'Open Sans' sans-serif;
        font-size: 2em;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;
    }
    
    &__second{
        color: $color2;
        font-weight: 600;
    }

    &__subtitle{
        font-weight: 300;
        opacity: .7;
        text-align: center;
        letter-spacing: -0.06em;
    }
}

