#view-menu{
    background: $color2;
    color: $color1;
    line-height: 2;
    padding-left: 1em;
    
}

.menu{
    background: lighten($color2, 10%);
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;

    &__item{

    }

    &__link{
        color: $color1;
        line-height: 2.5;
        padding-left: 1em;

        &:hover{
            color: darken($color1, 10%);
            text-decoration: none;
        }
    }
}