.news{
    &__title{
        text-align: center;
        font-family: $body--font-family;
        font-weight:400;
        line-height: 1.4;
        margin-bottom: .5em;
        font-size: 1.5em;

        span{
            display: block;
            font-size: .8em;
            line-height: 1;
            font-weight: 300;
        }
    }

    &__img{
        margin-bottom: 1em;
    }

    &__descriptions{
        font-size: .85em;
    }
}