.service{
    text-align: center;
    margin-bottom: 3em;
    
    &__img{
        background: $color1;
        width: 15%;
        border-radius: 50%;
    }

    &__title{
        margin: .3em 0;
    }

    &__description{
        font-size: .85em;
    }
}