@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap');

/*Llamamos variables, paleta de colores*/
@import "variables";

/*Modifique los estilos base desde variables.scss*/

img{
    width: 100%;
    height: auto;
}

section{
    padding: 1.5em 0;
}
