$color1: #547266;
$color2: #FFDE75;
$color3: #575757;

$body--background: #fff;
$body--font-family: 'Open Sans', sans-serif;
$body--color: #333;

$header--font-family: 'Roboto COndensed', sans-serif;
$header--font-weight: bold;
$header--text-transform: normal;
$header--color: #222;


