.section__title{
    text-align: center;
    font-weight: 400;
    font-family: $body--font-family;
    font-size: 1.6em;
    margin: 0 0 1.5em;

    span{
        font-size: .7em;
        display: block;
    }
}