.credits-social{
    margin: .9em 0;

    &__item{
        font-size: 1.2em;
        color: $color1;
        background: darken($color1, 10%);
        display: inline-block;
        margin: .3em;
        border-radius: 50%;
        padding: .2em;
        transition: all .2s;

        &:hover{
            color: #fff;
        }
    }

}