@import "../../src/normalize.css";
@import "../../src/bootstrap/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap");
/*Llamamos variables, paleta de colores*/
/*Modifique los estilos base desde variables.scss*/
img {
  width: 100%;
  height: auto;
}

section {
  padding: 1.5em 0;
}

.section__title {
  text-align: center;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
  margin: 0 0 1.5em;
}
.section__title span {
  font-size: 0.7em;
  display: block;
}

.credits-social {
  margin: 0.9em 0;
}
.credits-social__item {
  font-size: 1.2em;
  color: #547266;
  background: #3e554c;
  display: inline-block;
  margin: 0.3em;
  border-radius: 50%;
  padding: 0.2em;
  transition: all 0.2s;
}
.credits-social__item:hover {
  color: #fff;
}

.header {
  background-color: #547266;
  color: #fff;
}

.logo {
  margin: 0.5em 0 0;
}
.logo__first {
  text-transform: uppercase;
  font-family: "Open Sans" sans-serif;
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}
.logo__second {
  color: #FFDE75;
  font-weight: 600;
}
.logo__subtitle {
  font-weight: 300;
  opacity: 0.7;
  text-align: center;
  letter-spacing: -0.06em;
}

#view-menu {
  background: #FFDE75;
  color: #547266;
  line-height: 2;
  padding-left: 1em;
}

.menu {
  background: #ffeaa8;
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}
.menu__link {
  color: #547266;
  line-height: 2.5;
  padding-left: 1em;
}
.menu__link:hover {
  color: #3e554c;
  text-decoration: none;
}

.banner {
  margin-top: 1em;
}

.copy {
  margin-bottom: 0.7em;
}
.copy__title-first {
  margin: 0.5em 0 0.3em;
  color: #FFDE75;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5em;
}
.copy__title-first span {
  font-weight: 300;
  text-transform: none;
}
.copy__description {
  font-size: 0.85em;
  margin-bottom: 0.6em;
}
.copy__button {
  background: linear-gradient(#3e554c, #3e554c);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  line-height: 2;
  padding: 0 1em;
  text-decoration: none;
}
.copy__button:hover {
  color: #FFDE75;
  text-decoration: none;
}

.service {
  text-align: center;
  margin-bottom: 3em;
}
.service__img {
  background: #547266;
  width: 15%;
  border-radius: 50%;
}
.service__title {
  margin: 0.3em 0;
}
.service__description {
  font-size: 0.85em;
}

.info {
  margin-bottom: 2em;
}
.info__title {
  font-weight: 400;
  border-bottom: 1px solid rgba(87, 87, 87, 0.4);
  margin-bottom: 0;
}
.info__nav {
  width: 20%;
  height: 2em;
}
.info__nav .info__item {
  width: 50%;
  height: 2em;
  opacity: 0.7;
  position: relative;
}
.info__nav .info__item:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
.info__nav .info__item--prev {
  background: #547266;
  float: left;
}
.info__nav .info__item--prev:before {
  border-right: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: auto;
}
.info__nav .info__item--next {
  background: #FFDE75;
  float: right;
}
.info__nav .info__item--next:before {
  border-left: 6px solid #fff;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin: auto;
}

.client {
  margin-bottom: 1em;
}
.client__img {
  display: block;
  margin: auto;
}
.client__title {
  margin: 0.5em 0 0.3em;
  font-size: 1.1em;
}
.client__description {
  font-size: 0.85em;
}

.news__title {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
.news__title span {
  display: block;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
}
.news__img {
  margin-bottom: 1em;
}
.news__descriptions {
  font-size: 0.85em;
}

.credits {
  background: #547266;
  color: #fff;
  font-size: 0.9em;
  text-align: center;
}
.credits__description {
  margin-top: 1em;
  margin-bottom: 0;
}

/*# sourceMappingURL=style.css.map */
